<div >
    <div >
        <app-tic-tac-toe-cell row=0 col=0></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=0 col=1></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=0 col=2></app-tic-tac-toe-cell>
    </div>
    <div >
        <app-tic-tac-toe-cell row=1 col=0></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=1 col=1></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=1 col=2></app-tic-tac-toe-cell>
    </div>
    <div >
        <app-tic-tac-toe-cell row=2 col=0></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=2 col=1></app-tic-tac-toe-cell>
        <app-tic-tac-toe-cell row=2 col=2></app-tic-tac-toe-cell>
    </div>
</div>