/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0px;
}

.container {
    height: 100%;
}

.title {
    font-size: 75px;
}

.sub-title {
    font-size: 50px;
}